<!DOCTYPE html>
<html lang="en">
    <head>
        <!--metadata for right encoding-->
        <meta charset="utf-8">
        <!--metadata for correct viewing on mobile phones-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Connection between .css and .html files; "hrief" is path-->
        <link href="style.css" rel="stylesheet" type="text/css"/>
        <title>
            test API
        </title
    </head>
    <body>
        <div id="container">
            <div id="header">
                <!--this is upper part of my page-->
                <h1>
                    This is test API for products database
                </h1>
                <p>
                    This is prototype API
                </p>
            </div>
            <div id="sred">
                <!--this is main part of my page-->
                <h1>
                    This is main part
                </h1>
            </div>
            <div id="footer">
                <!--this is lower part of my page-->
            </div>
        </div>
    </body>
</html>