body{
    background-color: #66CCFF;
} /*for blue color on the full page*/

#container {
    background-color: #66CCFF;
    color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#header{
    text-align: center;
}
#stred{
    text-align: center;
}
#footer{
    text-align: center;
}